<div class="login_content">
        <div class="page-header text-center">
        <h1>登录</h1>
        </div>
        <div class="col-md-offset-4 col-md-3 ">
{#            {{ wtf.quick_form(form) }}#}
            <form method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.remember_me) }}
                {{ wtf.form_field(form.submit,class='btn btn-lg btn-primary btn-block')}}
            </form>
            <p class="text-center">
                新用户？
                <a href="{{ url_for('auth.register') }}">注册</a>
            </p></div>
</div>
