{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block titile %} 登录{% endblock %}

{% block page_content %}
    <div class="">
        <div class="page-header text-center">
        <h1>登录</h1>
        </div>
        <div class="col-md-offset-5 col-md-2">
{#            {{ wtf.quick_form(form) }}#}
            <form method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.remember_me) }}
                {{ wtf.form_field(form.submit,class='btn btn-lg btn-primary btn-block')}}
            </form>
            <p class="text-center">
                新用户？
                <a href="{{ url_for('auth.register') }}">注册</a>
            </p></div>
    </div>
{% endblock %}