{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 注册{% endblock %}

{% block page_content %}
   <div class="col-md-offset-3 col-md-6 register_page">
        <div class="page-header ">
            <h1>注册</h1>
        </div>
        <div class="col-md-offset-2 col-md-8 register_form">
         <form method="post" class="">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.password2) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.phone_num) }}
            {{ wtf.form_field(form.address) }}
            {{ wtf.form_field(form.submit,class='btn btn-primary btn-block login_btn')}}
         </form>
{#    {{ wtf.quick_form(form) }}#}
         </div>
   </div>
{% endblock %}