{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 注册{% endblock %}

{% block page_content %}
   <div class="col-md-offset-3 col-md-6 register_page">
        <div class="page-header ">
            <h1>注册</h1>
        </div>
        <div class="col-md-offset-2 col-md-8 register_form">
         <form method="post" class="">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.password2) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.phone_num) }}
            {{ wtf.form_field(form.address) }}
            {{ wtf.form_field(form.submit,class='btn btn-primary btn-block login_btn')}}
         </form>
{#    {{ wtf.quick_form(form) }}#}
         </div>
   </div>
    <div class="login_content">
        <div class="page-header">
            <span class="header-text">登录</span>
            <span class="iconfont close_login">&#xe624;</span>
        </div>
        <div class="col-md-offset-1 col-md-8 form_login">
{#            {{ wtf.quick_form(form) }}#}
            <form method="post">
{#                {{ login_form.hidden_tag() }}#}
                {{ login_form.csrf_token }}
                {{ wtf.form_field(login_form.username) }}
                {{ wtf.form_field(login_form.password) }}
                {{ wtf.form_field(login_form.remember_me) }}
                {{ wtf.form_field(login_form.submit,class='btn btn-primary btn-block login_btn')}}
            </form>
            <p >
                新用户？
                <a href="{{ url_for('auth.register') }}">注册</a>
            </p>
        </div>
    </div>
{% endblock %}