/*body, .container {*/
    /*max-width: 700px;*/
    /*margin: 0 auto;*/
/*}*/

/*通用样式*/
body {
    background: url("images/main.jpeg") ;
}
/*导航条样式*/
a , a:link, a:visited{
    color: #c69993;
    text-decoration: none;
}
a:hover{
    color: #a27876;
}
.logo {
    font-weight: bold;
    color: #c69993;
    font-size: 30px;
}

.nav-row li a{
    /*background: #e0e0e0;*/
    background: #f1eff000;
    color:#c69993 ;
}
.nav-row li a:hover{
    color: #a27876;
}

.line {
    background: #eeeeee;
    height:1px;
    width: 100%;
    margin: 20px;
}

/*主页样式*/

.right_main{
    border: solid #c69993 1px;
    background: #ffffff;
}

.left_main{
    margin-right: 1px;
    border: solid #c69993 1px;
    border-width: 1px 0 1px 1px;
    background: #ffffff;
}



.my_profile{
    height: 150px;
    width: 40%;
    border-radius: 100%;
    margin-top: 20px;
}

.page-header{
    text-align: center;
}

.page-header p{
    color: #999999;
    text-align: left;
    margin-left: 80px ;
}


.post-text{
    resize: none;
}

.profile-thumbnail {
    position: absolute;
    height: 40px;
    width: 40px;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
/*文章样式*/

div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}

/*文章列表样式*/

.post-content {
    margin: 30px auto 0 auto;
    /*min-height: 48px;*/
    height: 255px;
    width: 85%;
    color: #757575;
    border: #e0e0e0 solid 1px;
    overflow: hidden;
}
div.post-title{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
div.post-author ,div.post-date{
    font-weight: bold;
    float: right;
    margin-right: 10px;
    color: #757575;
}
div.post-author a{
    color: #757575;;
}

div.post-author a:hover{
    color: #c69993;
}
div.post-content{
    text-align: center;
}
div.post-body{
    clear: both;
    margin-top: 40px;
}
.post-body p{
    margin: 45px;
}
.pagination .active a{
    background-color:#757575 ;
}



div.post-thumbnail {
    position: absolute;
}

div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
