{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}文章{% endblock %}
{% block page_content %}
    {% include '_article_lists.html' %}
    {% if pagination %}
        <div class="pagination">
        {{ macros.pagination_widget(pagination,'.article_label') }}
        </div>
    {% endif %}
{% endblock %}