{% extends "base.html" %}
{% import 'article/_macros.html' as marcos%}
{% block title %}百尺陌上{% endblock %}
{% block page_content %}
    <div class="col-md-offset-1 col-md-10 bg_index">
        <div class="col-md-4 left_main">
            <div class="page-header ">
                <h4>Hello,
                    {% if current_user.is_authenticated %}
                        {{ current_user.username }}
                    {% else %}
                        Stranger
                    {% endif %}!
                </h4>
                <img class="my_profile" src="{{ url_for('static', filename="images/profile_picture/default.jpg") }}"></a>
                <div class="line"></div>
                <div class="my_messages">
                    <p>年龄：21</p>
                    <p>邮箱：shadow.xuzi@qq.com</p>
                    <a href=""><p>我的简历</p></a>
                </div>
            </div>
        </div>
        <div class="col-md-7 right_main">
             <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="{{ url_for('.show_all') }}">推荐</a>
            </li>
            {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('.show_followed_articles') }}">我的关注</a>
                </li>
            {% endif %}
        </ul>
        {% include 'article/_article_lists.html' %}
    </div>
            {% if pagination %}
                <div class="pagination">
                    {{ marcos.pagination_widget(pagination, '.index')}}
                </div>
            {% endif %}
        </div>
    </div>




{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}

{% endblock %}


