{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}

{% block page_content %}
    <div class="page-header">
    {% if user.user_address or user.username %}
        <p>
            {% if user.username %}{{ user.username }}{% endif %}
            {% if user.user_address %}
                Form <a href="http://maps.google.com/?q={{ user.user_addresss }}">{{ user.user_addresss }}</a>
            {% endif %}
        </p>
    {% endif %}
{#    {% if current_user.is_administrator() %}#}
{#        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>#}
{#    {% endif %}#}
    {% if user.about_me %}
        <p>{{ user.about_me }}</p>
    {% endif %}
        <p>
            Menber since {{ moment(user.member_since).format('L') }},
            Last seen {{ moment (user.last_seen).fromNow() }},
        </p>
    </div>
    {% include '_article_lists.html' %}
{% endblock %}